.nav {
  width: 900px;
  text-align: right;
  margin: auto;
}
.nav li {
  display: inline-flex;
  padding: 10px;
}
.nav a {
  text-decoration: none;
  color: black;
}
#logo {
  float: left;
  font-weight: 600;
}
.intro {
  padding: 100px 0;
  width: 37%;
  margin: auto;
}
ul.introlist a {
  color: black;
  text-decoration: underline;
}
